# Ignore node modules
node_modules

#Ignore cursor AI rules
.cursor/rules/codacy.mdc

# Ignore auto generated api client
src/api/client

# Ignore compiled output
dist/

#Ignore vscode AI rules
.github/copilot-instructions.md

# Ignore api-v3
api-v3/

# Ignore .codacy
.codacy/